<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AnonymousX</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        @import "./assets/css/Header-Nightsky.css";




        @keyframes spinner {
            to {transform: rotate(360deg);}
        }

        .spinner:before {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 45%;
            left: 45%;
            width: 35px;
            height: 35px;
            margin-top: -15px;
            margin-left: -15px;
            border-radius: 65%;
            border: 1px solid #ccc;
            border-top-color: #07d;
            z-index: 99999;
            animation: spinner .6s linear infinite;
        }



        #question {

            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;

        }

    </style>
</head>
<body>


<div class="header-nightsky">
    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="" id="Home">AnonymousX</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./about">About Us</a></li>
                    <li><a href="./stats" id="stats">Stats</a></li>
                    <li><a href="./" id ="logout">Log out</a></li>





                </ul>
            </div>
        </div>
    </nav>

    <div id = "app">
    <div class="hero" v-if="!playing" >
        <h1>This is an AnonymousX Game Project</h1>
        <p>Click "Play" to challenge your knowledge.</p>
        <div class="btn btn-primary" id ="Play" @click ="play">Play</div>
    </div>


<div class = "hero" style="left: 250px; top:
250px; position: absolute" v-if="playing" >
    <div style="position: absolute; left: -200px; top: -100px">
    <label id>You</label><br>
    Score: <label id="yourScore"></label>
    </div>


    <div style="position: absolute; left: 550px; top: -100px ">
        <label id="opponent">Opponent</label><br>
        Score: <label id="hisScore"></label>
    </div>


    <textarea id ="question" style="resize: none; width:405px;background-color:rgba(0, 0, 0, 0.1);
     white-space: normal;
    text-align: justify;
    -moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: center;
    border-color: red" readonly></textarea>
<div>
    <button type = "button" class = "btn-primary"style ="height: 100px; width:200px" id="A" @click="one">answer1</button>
        <button type = "button" class = "btn-primary"style ="height: 100px; width:200px" id="B"@click = "two">answer2</button>
</div>
    <div></div>
        <button type = "button" class = "btn-primary" style ="height: 100px; width:200px; margin-top: 5px" id="C" @click ="three">answer3</button>
        <button type = "button" class = "btn-primary"style ="height: 100px; width:200px; ; margin-top: 5px" id="D" @click = "four">answer4</button>
</div>
    <br>
    <br>

</div>
    </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script type = "text/javascript"></script>

<script>




</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
<script>
    var socket = io();

    var app = new Vue({
        el: '#app',
        data: {
            playing: false


        },
        methods: {
            play: function () {

                $("#app").addClass('spinner');

                this.playing = true;
                $("#Play").prop('disabled',true);
                socket.emit('wantToPlay', localStorage.getItem("userName"));
                socket.on('info',function (data) {
                    //receive the message from server
                    //     alert(data.question);

                })

            },
            one: function () {
                $("#app").addClass('spinner');

                socket.emit('submit',{ans:1})
                $("#A").prop('disabled',true);
                $("#B").prop('disabled',true);
                $("#C").prop('disabled',true);
                $("#D").prop('disabled',true);





            },
            two: function () {
                $("#app").addClass('spinner');

                socket.emit('submit',{ans:2})
                $("#A").prop('disabled',true);
                $("#B").prop('disabled',true);
                $("#C").prop('disabled',true);
                $("#D").prop('disabled',true);

            },
            three: function () {
                $("#app").addClass('spinner');

                socket.emit('submit',{ans:3})
                $("#A").prop('disabled',true);
                $("#B").prop('disabled',true);
                $("#C").prop('disabled',true);
                $("#D").prop('disabled',true);

            },
            four: function () {
                $("#app").addClass('spinner');

                socket.emit('submit',{ans:4})

                $("#A").prop('disabled',true);
                $("#B").prop('disabled',true);
                $("#C").prop('disabled',true);
                $("#D").prop('disabled',true);
            }

        }
    });






    $("document").ready(function() {




        $("#logout").click(function () {
            document.cookie="token="
            window.location.href = "./";



        });







        socket.on('next',function(data) {
            $("#app").removeClass('spinner');

            $("#A").prop('disabled',false);
            $("#B").prop('disabled',false);
            $("#C").prop('disabled',false);
            $("#D").prop('disabled',false);

            if(data.finale!==undefined && data.finale!==null) {
                alert(data.finale);
            }
            else {
                $("#A").html(data.A);
                $("#B").html(data.B);
                $("#C").html(data.C);
                $("#D").html(data.D);
                $("#question").html(data.question);
                $("#hisScore").text(data.hisScore);
                $("#yourScore").text(data.yourScore);
            }

        });



        socket.on('play',function (data) {
            $("#app").removeClass('spinner');

            $("#A").html(data.A);
            $("#B").html(data.B);
            $("#C").html(data.C);
            $("#D").html(data.D);
            $("#question").html(data.question);
            $("#opponent").html(data.opponent)



        });

     /*   $("#Play").click(function () {
            $("#Play").prop('disabled',true);
            socket.emit('wantToPlay', "Pls");

            socket.on('info',function (data) {
                //receive the message from server
           //     alert(data.question);

            })

        });
        */



        $("#Name").html(localStorage.getItem("userName"));
        });

        </script>
</body>
</html>